.messages {
  table {
    tr {
      &.unread {
        font-weight: bold;
      }
      &:hover {
        cursor: pointer;
      }
    }
  }
  .modal {
    &-header {
      border-bottom: none;
    }
    &-content {
      background-color: #101e26;
    }
    &-footer {
      border-top: none;
    }
  }
}
