.comments {

  .filter {
    text-align: center;
    margin: 10px 0;
    color: #fff;

    & span {
      cursor: pointer;
    }
  }

  .pending td {
    font-weight: bold;
  }

  table tbody tr {
    td:last-child span {
      &:first-child:hover {
        color: #8aa4f3;
      }
      &.check:hover {
        color: #6aff6a;
      }
      &.time:hover {
        color: #ffb500;
      }
      &:last-child:hover {
        color: #ff7474;
      }
    }
  }

  .modal {
    &-header {
      border-bottom: none;
    }
    &-content {
      background-color: #101e26;

      .comment p {
        color: #fff;
      }
    }
    &-footer {
      border-top: none;
    }
  }
}
