.tags {
  .form-inline {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
  }
  .row {
    .bulk {
      display: none;
      justify-content: center;
      align-items: center;
      a i {
        color: #fff;
      }
    }
    &:hover {
      .bulk {
        display: flex;
        a:hover i {
          color: #080808;
        }
      }
    }
  }

  .modal {
    &-header {
      border-bottom: none;
    }
    &-content {
      background-color: #101e26;
    }
    &-footer {
      border-top: none;
    }
  }

}
