.articles {
  .text-right {
    margin: 20px 0;
  }
  table {
    table-layout: fixed;
    thead tr th {
      &:nth-child(2),
      &:nth-child(3),
      &:nth-child(4),
      &:nth-child(5){
        width: 110px;
      }
    }

    tbody tr {

      a {
        font-weight: bold;
      }
      .actions {
        display: none;
        span {
          font-weight: bold;
          cursor: pointer;
        }
      }
      &:hover .actions {
        display: block;
        text-align: center;
      }
    }
  }
}
