.article-new {

  #nav-result {
    min-height: 190px;

    div {
      padding-top: 15px;
      max-height: 350px;
      overflow-y: scroll;
      overflow-x: hidden;

      p {
        color: #fff;
      }
    }
  }

  .custom-file {
    margin-bottom: 30px;

    label {
      background: none;
      color: #fff;
    }
  }

  textarea {
    margin-top: 20px;
  }
}

