.article-new, .article-edit, .project-new {

  #nav-result {
    min-height: 190px;

    div {
      padding-top: 15px;
      max-height: 350px;
      overflow-y: scroll;
      overflow-x: hidden;

      p {
        color: #fff;
      }
    }
  }

  textarea {
    margin-top: 20px;
  }
}

