.article-new, .article-edit, .project-new {

  #nav-result {
    min-height: 190px;

    div {
      padding-top: 15px;
      max-height: 350px;
      overflow-y: scroll;
      overflow-x: hidden;

      p {
        color: #fff;
      }
    }
  }

  .multiselect__tags {
    input#tags {
      background: none
    }
    background: none;
    .multiselect__tag {
      background: #266bb5;
      i {
        &::after {
          color: #fff;
        }
        &:hover {
          background: #105094;
        }
      }

    }
  }

  textarea {
    margin-top: 20px;
  }
}

