.article-comments {

  h1 {
    text-align: center;
    border-top: solid 1px #fff;
    font-weight: bold;
    padding-top: 4vh;
    margin-bottom: 4vh;
  }

  .article-comment {

    label {
      color: #fff;
    }

    .col-md-12:not(.text-right) {
      margin: 20px 0 10px 0;
    }
    .text-right {
      margin-bottom: 50px;
    }
  }

  .comment {
    display: flex;
    margin-bottom: 25px;

    &.response {
      margin: 20px 0 20px 130px;
    }

    &-avatar {
      margin-right: 30px;

      i {
        font-size: 100px;
        color: #fff;
      }
    }

    &-cont {
      color: #fff;
      width: 100%
    ;
      .comment {

        &-meta {
          margin-bottom: 10px;
          display: flex;
          align-items: center;

          &-name {
            font-weight: bold;
          }

          &-date {
            margin: 0 22px 0 auto;
          }

          &-reply {
            margin: 0 22px;
            cursor: pointer;
            text-transform: uppercase;

            &:hover {
              font-weight: bold;
            }
          }
          &-date, &-reply {
            font-size: 0.8rem;
          }
        }
      }
    }
  }
  .replies {
    .article-reply {
      margin-left: 255px;

      label {
        color: #fff;
      }

      .col-md-12:not(.text-right) {
        margin: 20px 0 10px 0;
      }
      .text-right {
        margin-bottom: 20px;
      }
    }
  }

  .comment-error {
    background: red;
    margin-bottom: 15px;
    align-items: center;
    padding: 10px 0;

    ul {
      margin-bottom: 0;
    }
  }

  .comment-success {
    background-color: #003a00;
    padding: 15px;
    margin-bottom: 15px;

    p {
      margin: 0;
      color: #fff;
    }
  }
}
