.bg-article-show, .project-show {
  h1 {
    width: 100%;
  }
  .status {
    justify-content: space-between;
    height: fit-content;
    margin-top: 10px;

    span:not(.badge) {
      color: #fff;
    }
  }
  .bulk {
    display: flex;
    justify-content: center;

    a, button {
      margin: 0 10px;
    }
  }

  .tags {
    display: flex;
    margin: 15px 0;

    .label {
      color: #fff;
    }

    .labels a {
      margin: 0 2px;
      &:first-child {
        margin-left: 10px;
      }
    }
  }

  .img-preview {
    height: 300px;
    overflow: hidden;
    img {
      margin-top: -25%;
    }
  }

  .content-preview {
    margin-top: 30px;
  }
}

.project-show {
  .extra {
    .images {
      .image {
        img {
          width: 100%;
        }
      }
    }
  }
}
