.edit-settings {
  margin-top: 20px;
  form {
    .row {
      & > div:not(.sm) {
        margin-bottom: 3vh;
        .custom-file {
          label {
            background: none;
          }
        }
        a {
          margin-bottom: 10px;
          img {
            max-width: 100%;
          }
        }
      }
    }
  }
}

.user-settings {
  .errors {
    background-color: #9e0000;
    color: #fff;
    ul {
      padding: 20px;
      li {
        margin-left: 10px;
      }
    }
  }

  .ok {
    background: #003a00;

    p {
      padding: 14px;
      color: #fff;
    }
  }

  #result-fr, #result-en {
    .md {
      min-height: 160px;
      max-height: 250px;
      overflow-y: scroll;

      img {
        max-width: 100%;
      }
    }
  }

  .extra-images {
    button {
      margin: 0 10px 20px 0;
    }
  }

  .row {
    .col-form-label {
      color: #fff;
    }
    .col-sm-6 {
      .mx-datepicker {
        width: 100%;
        .mx-input {
          height: 38px;
          background: none;
          color: #fff;
        }
        .mx-input-append {
          background: none;
          .mx-calendar-icon {
            color: #fff;
          }
        }
      }
    }

    &.sm {
      .delete-row {
        display: flex;
        align-items: flex-end;
      }
    }

    &.profile {
      margin-top: 40px;
      img {
        width: 100%;
        margin-bottom: 15px;
      }
    }
  }
  td.cell.cur-month {
    color: inherit;
  }

  .col-form-label {
    text-align: right;
  }
}
