.login, .reset {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: $night;
  min-height: 100vh;

  .modal {
    &-header {
      border-bottom: none;
    }
    &-content {
      background-color: #101e26;

      p {
        color: #fff;
      }
    }
    &-footer {
      border-top: none;
    }
  }


  .form-signin {
    width: 300px;

    .checkbox {
      font-weight: 400;
    }

    .form-control {
      position: relative;
      box-sizing: border-box;
      height: auto;
      padding: 10px;
      font-size: 16px;

      &:focus {
        z-index: 2;
      }
    }

    input[type="email"] {
      margin-bottom: -1px;
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
    }

    input[type="password"] {
      margin-bottom: 30px;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }

    input[type="email"], input[type="password"] {
      background: transparent;
      color: #fff;
    }
  }

  .fpmodal {
    margin-top: 20px;
  }
}

.reset {
  .form-reset {
    .alert ul {
      margin: 0;
    }

    h3 {
      color: #fff;
    }
  }
}

