.project-new {
  .result {
    img {
      width: 100%;
    }
  }
  .images {
    margin-bottom: 25px;

    .col-md-4 {
      margin-bottom: 25px;
      img {
        width: 100%;
      }
    }

  }
}
